<div class="color_spots">
    <svg width="96px" height="64px" xmlns="http://www.w3.org/2000/svg" baseProfile="full" version="1.1">
        <circle cx="24" cy="24" r="8" id="f_high" style="fill: var(--f_high);"></circle>
        <circle cx="40" cy="24" r="8" id="f_med" style="fill: var(--f_med);"></circle>
        <circle cx="56" cy="24" r="8" id="f_low" style="fill: var(--f_low);"></circle>
        <circle cx="72" cy="24" r="8" id="f_inv" style="fill: var(--f_inv);"></circle>

        <circle cx='24' cy='40' r='8' id='b_high' style="fill: var(--b_high);"></circle>
        <circle cx='40' cy='40' r='8' id='b_med' style="fill: var(--b_med);"></circle>
        <circle cx='56' cy='40' r='8' id='b_low' style="fill: var(--b_low);"></circle>
        <circle cx='72' cy='40' r='8' id='b_inv' style="fill: var(--b_inv);"></circle>
    </svg>
</div>
