{% extends "base.html" %}

{% block content %}
    {% if requested_gallery %}
        <h3>
            Tweets:
        </h3>
        <div class="gallery-container">
            <div class="gallery-information">
                <img src="{{ url_for('static', path='images/henry_faceonly.svg') }}">
                <p>
                    Timeline
                </p>
                <select>
                    <option value="datetime">Sort chronologically</option>
                    <option value="most_rw">Sort by Retweets</option>

                </select>
            </div>
            <div class="timeline-container">
                {% include 'partials/timeline/timeline-item.html' %}
            </div>
        </div>

    {% else %}
        <p>
            An error has occurred!
        </p>
    {% endif %}
{% endblock %}
