$background: #e0cdbc;

$f_high: #1E1D1D;
$f_med: #485e9b;
$f_low: #523d2c;
$f_inv: #ffffff;

$b_high: #E7D8C8;
$b_med: #CEC7C0;
$b_low: #E9E2D8;
$b_inv: #8c5a3d;

// fonts

$body_font: Verdana, sans-serif;
$header_font: 'Trebuchet MS', sans-serif;

