body {
  font-family: $body_font;
  margin: 0;
  background: $background;
}

.pageheader {
  display: flex;
  margin: 0;
  margin-inline: 1em;
  align-items: center;
  height: 3rem;
  background-color: $background;

  h2 {
    margin: 0;
  }

  img {
    height: 95%;
    object-fit: cover;
    margin-right: 1.2em;
  }
}

nav {
  display: flex;
  margin-inline: 0.8em;
  height: 2rem;
  //margin-bottom: -10px; /* This will make the nav overlap the section */
  z-index: 10; /* Ensure nav stays above the section */

  .tab {
    height: 2rem;
    min-width: 4rem;
    border-radius: 15px 15px 0 0;
    border: 1px solid var(--f_high);
    background-color: var(--b_med);
    display: flex;
    align-items: center;
    margin-right: -1px; /* Slightly overlap tabs */
    z-index: 2;
  }

  .tab:hover {
    background-color: $b-low;
    transition: 0.3s ease-in-out;
  }

  .active {
    background-color: var(--b_low) !important;
  }

  a {
    display: flex;
    width: 160px;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 3;
  }
}

section {
  background-color: $b_low;
  padding: 0.5em;
  margin-inline: 0.5em;

  border: solid 1px $f_high;
  border-radius: 0.5em;
  min-height: calc(100vh - 30px);
  position: relative;
  z-index: 9;
}

.banner {
  color: $f_inv;
  background-color: $f_med;
  padding-inline: 0.8rem;
  padding-block: 0;
  display: inline-block;
  position: relative;
  margin: 0 2.3em 0 0;
}

// For some reason, I can't do nested ::after's
// with python's libsass once it compiles, so I
// have to do it seperately

.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 50%;
  height: 25%;
  background-color: $f_med;
  max-width: 35px;
}

a {
  color: $f-med;
  font-family: $header_font !important;
}

a:not(.link-a)::after {
  content: '→';
}

