<!DOCTYPE html>
<html>
<head>
    <style>
        .media-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .media-grid img,
        .media-grid video {
            margin: 10px;
            max-width: 200px;
            height: auto;
            object-fit: contain;
        }
    </style>
</head>
<body>
<form method="POST">
    <input type="text" name="image_folder" placeholder="Enter image folder path">
    <input type="submit" value="Submit">
</form>
<div class="media-grid">
    {% for url in image_urls %}
        {% if url.endswith(('.png', '.jpg', '.jpeg', '.gif')) %}
            <img loading="lazy" src="{{ url }}" alt="media">
            {# TODO: add attributes for width and height so that
               media doesnt "jump" when page gets loaded #}
        {% elif url.endswith(('.mp4')) %}
            <video controls width="200">
                <source src="{{ url }}" type="video/mp4">
            </video>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>
