{% import "components/greeting.jinja" as Greeting %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JinjaX Example</title>
    <style>
        body { font-family: sans-serif; }
        .greeting { border: 1px solid #ccc; padding: 10px; margin: 10px; }
    </style>
</head>
<body>

<h1>My JinjaX Page</h1>


<greeting name="sdaohfadsf">Hello, {{name}}</greeting>
{#<{{ Greeting name="World" }} />#}
{#<{{ Greeting name="JinjaX User" }} />#}

</body>
</html>
