{% extends "base.html" %}

{% block content %}

    <section>

        <div class="index">
        <form method="POST" action="/update">
            <label>
                <input type="text" name="image_folder" placeholder="Enter image folder path">
            </label>
            <input type="submit" value="Submit">
        </form>

            <h3 class = "banner">Processed Galleries</h3>

            <br>

            {% for directory in directories %}

                <a href="{{ url_for('render_gallery', hoga_id=directory.hoga_id) }}">View Gallery for {{ directory.title }}</a>

            <br>
        {% endfor %}
        </div>

    </section>


{% endblock %}